.pm-wrapper {
    border-radius: 6;
    border-width: 1;
    border-color: #999999;
    height:28;
    width: 80;
}

.pm-left {
    font-size: 20;
    color: gray;
    width: 40;
    border-right-width: 1;
    border-right-color: #999999;
    margin-top: -4;
}
.pm-left:highlighted {
    background-color: #eeeeee;
}
.pm-right {
    font-size: 20;
    color: gray;
    width: 40;
    padding: 0;
    border-color: white;
    border-width: 1;
    border-top-right-radius: 6;
    border-bottom-right-radius: 6;
    margin-top: -4;
}
.pm-right:highlighted {
    background-color: #eeeeee;
}
.pm-disabled {
    color: white;
    background-color: #eeeeee;
    border-top-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-width: 1;
    border-radius: 6;
}
