<StackLayout orientation="horizontal" class="pm-wrapper">
    <StackLayout class="{{ decEnabled ? 'pm-left-wrapper' : 'pm-left-wrapper pm-wrapper-disabled' }}">
        <Button (tap)="decTap()" class="{{ decEnabled ? 'pm-left' : 'pm-left pm-disabled '}}" [isEnabled]="decEnabled">
            <FormattedString>
                <Span text="-" fontSize="26" ios:foregroundColor="gray" android:foregroundColor="white"></Span>
            </FormattedString>
        </Button>
    </StackLayout>
    <StackLayout class="{{ incEnabled ? 'pm-right-wrapper' : 'pm-right-wrapper pm-wrapper-disabled' }}">
        <Button (tap)="incTap()" class="{{ incEnabled ? 'pm-left' : 'pm-right pm-disabled '}}" [isEnabled]="incEnabled">
            <FormattedString>
                <Span text="+" fontSize="26" ios:foregroundColor="gray" android:foregroundColor="white"></Span>
            </FormattedString>
        </Button>
    </StackLayout>
</StackLayout>