<StackLayout [@slideIn]="animationState">

    <StackLayout *ngIf="item">



        <ScrollView #tasksSrollView>

            <StackLayout class="">

                <StackLayout class="form-group">
                    <StackLayout class="input-field input-field-border">
                        <TextView colSpan="3" hint="Enter title..." [height]="textViewFieldHeight(item.title)" [ngModel]="item.title" (ngModelChange)="titleChange($event)"
                            class="input"></TextView>
                    </StackLayout>

                    <StackLayout class="input-field">
                        <TextView hint="Enter description..." [height]="textViewFieldHeight(item.description)" [ngModel]="item.description" (ngModelChange)="descriptionChange($event)"
                            class="input"></TextView>
                    </StackLayout>
                </StackLayout>


                <StackLayout class="form-group">
                    <StackLayout #itemTypeRow class="input-field input-field-border">
                        <GridLayout rows="40" [columns]="formFieldGridCols" (tap)="showTypeModal()">
                            <Label col="0" text="Type" class="form-field-col"></Label>

                            <StackLayout col="1" #itemTypeName orientation="horizontal" class="form-field-col right">
                                <Image [src]="item.type | typeImage" class="input-img"></Image>
                                <Label [text]="item.type | typeDisplay" class="input"></Label>
                            </StackLayout>

                            <GridLayout col="2" class="icon-arrow-wrapper">
                                <Image src="res://icon_arrow_forward" class="icon-arrow"></Image>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout class="input-field input-field-border">
                        <GridLayout rows="40" [columns]="formFieldGridCols" (tap)="showStatusOptions()">
                            <Label col="0" text="Status" class="form-field-col"></Label>
                            <StackLayout col="1" orientation="horizontal" class="form-field-col right">
                                <Label [text]="item.status | statusDisplay" class="input"></Label>
                            </StackLayout>
                            <GridLayout col="2" class="icon-arrow-wrapper">
                                <Image src="res://icon_arrow_forward" class="icon-arrow"></Image>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout class="input-field input-field-border">
                        <GridLayout rows="40" [columns]="formFieldGridCols">
                            <Label col="0" text="Estimate" class="form-field-col"></Label>
                            <Label col="1" [text]="item.estimate | estimateDisplay" class="form-field-col input right"></Label>
                            <StackLayout col="2" class="form-field-col">
                                <inc-dec (notifyIncDecTapped)="estimateIncDecTapped($event)" [decEnabled]=" item.estimate > 0">
                                </inc-dec>
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout class="input-field">
                        <GridLayout rows="40" [columns]="formFieldGridCols">
                            <Label col="0" text="Priority" class="form-field-col"></Label>
                            <StackLayout col="1" class="form-field-col right">
                                <Label [text]="item.priority | priorityDisplay" [class]="item.priority | priorityClass"></Label>
                            </StackLayout>
                            <StackLayout col="2" class="form-field-col">
                                <inc-dec (notifyIncDecTapped)="priorityIncDecTapped($event)" [decEnabled]="priorityDecEnabled" [incEnabled]="priorityIncEnabled">
                                </inc-dec>
                            </StackLayout>
                        </GridLayout>
                    </StackLayout>


                </StackLayout>

                <StackLayout class="form-group">
                    <StackLayout #itemAssigneeRow class="input-field">
                        <GridLayout rows="40" [columns]="formFieldGridCols" (tap)="showAssigneeModal()">
                            <Label col="0" text="Assignee" class="form-field-col"></Label>

                            <StackLayout #itemAssigneeName col="1" orientation="horizontal" class="form-field-col right">
                                <Label [text]="item.assignee.fullName" class="input-user"></Label>
                                <Image [src]="item.assignee.avatar" class="input-img avatar"></Image>

                            </StackLayout>
                            <GridLayout col="2" class="icon-arrow-wrapper">
                                <Image src="res://icon_arrow_forward" class="icon-arrow"></Image>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

            </StackLayout>

        </ScrollView>
    </StackLayout>
</StackLayout>