.items-list {
    height: 100%;
}

.li-indicator {
    height: 58;
    width: 10;
    text-align: left;
}

.li-indicator label {
    width: 5;
    height: 58;
    horizontal-align: left;
}

.li-info-wrapper {
    margin-left: 5;
}

.li-title {
    font-size: 14;
    color: #4b5833;
}

.li-avatar {
    background-color: #eeeeee;
    width: 50;
    height: 50;
}

.li-estimate {
    font-size: 10;
    font-weight: bold;
    color: #555a97;
}

.li-date {
    font-size: 12;
    color: #555a97;
    margin-left: 10;
}

.indicator-pbi {
    background-color: #527FD7;
}

.indicator-bug {
    background-color: #D75252;
}

.indicator-chore {
    background-color: #666666;
}

.indicator-impediment {
    background-color: #D7C152;
}