@import url("~/platform.css");

ActionBar {
    background-color:  #4b5833;
    color: white;
}

.pt-item-detail-header {
    background-color: #333333;
    color: #ffffff;
    padding: 10;
}

.pt-item-detail-header.bold {
    font-weight: bold;
}

.slide-out-btn {
    color: green;
}